{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block content %}

<h1 class="page-header">PAGES!</h1>
<a href='{% url "folioport:dashboard:page:create" %}'
   class='btn btn-primary btn-lg pull-right'>+ Add new page</a>

<h2>List of your current pages</h2>


    {% if object_list %}
    <div class='responsive-table'>
        <table class="table table-hover sorted_table">
            <thead>
            <tr>
                <th>{% trans 'Page title' %}</th>
                <th class='text-center'>{% trans 'Active' %}</th>
                <th class='text-center'>{% trans 'Actions' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for page in object_list %}
            <tr>
                <td>{{ page.title }}</td>
                <td class='text-center'>
                    {% if page.active %}
                    <i class="glyphicon glyphicon-ok" style="color:green"></i>
                    {% else %}
                    <i class="glyphicon glyphicon-remove" style="color:red"></i>
                    {% endif %}
                </td>
                <td class='text-center'>
                    <a href='{% url "folioport:dashboard:page:edit" page.id %}'
                       class='btn btn-outline btn-primary btn-xs'>
                        <i class="glyphicon glyphicon-edit"></i> {% trans 'edit' %}
                    </a>
                    <a href='{% url "folioport:dashboard:page:delete" page.id %}'
                       class='btn btn-outline btn-danger btn-xs'>
                        <span class=" glyphicon glyphicon-trash"></span> delete</i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    {% trans 'No pages yet!' %}
    {% endif %}


{% endblock %}