{% load filters %}
{% load flatpages %}
{% get_flatpages as flatpages %}


<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href='/'>home</a>
            Categories:
            {% for row in folioport_project_categories|columns:3 %}
            {% for item in row %}
            <a href="{% url 'folioport:project:category-detail' item.slug %}">{{ item }}</a>
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
            {% endfor %}
            <br />
            Flatpages:
            {% for page in flatpages %}
            <a href="{{ page.url }}">{{ page.title }}</a><br />
            {% endfor %}
            <a href="{% url 'folioport:blog:post-list' %}">Blog</a><br />

        </div>
    </div>
</div>