{% load staticfiles %}

<div class="header-block">
    <div id="header_page_name">
        {% if folioport_account.site_logo %}
            <a href='/'><img id='logo-image'  width="{{ folioport_account.logo_width }}" src="{{ MEDIA_URL }}{{ folioport_account.site_logo }}" title="home"/></a><br />
        {% endif %}
        <a href='/'>{{ folioport_account.site_name }}</a>
    </div>
    <div id="header_page_title">
        {{ folioport_account.site_catch_phrase }}
    </div>
</div>


{% if folioport_project_categories_with_projects %}
<div id="header_category_listing" class="header-block">
{% for category in folioport_project_categories_with_projects %}
    <div class="header-category-name">{{ category.name }}</div>
    {% for menu_project in category.project_set.active %}
        <div class="header-project-listing">
            <a {% if menu_project.id = project.id %}class='active-menu-item'{% endif %} href='{{ menu_project.get_absolute_url }}'>{{ menu_project.title }}</a>
        </div>
    {% endfor %}
{% endfor %}
</div>
{% endif %}

<div id="header_no_category_listing" class="header-block">
{% if not folioport_project_categories_with_projects %}
    <div class="header-category-name">Projects</div>
{% endif %}
{% for menu_project in folioport_projects_without_category %}
    <div class="header-project-listing" class="no-category">
        <a {% if menu_project.id = project.id %}class='active-menu-item'{% endif %} href='{{ menu_project.get_absolute_url }}'>
	        {{ menu_project.title }}
	    </a>
    </div>
{% endfor %}
</div>

<div class="header-block">
    <div id="header_other_info">
        <strong>Information</strong>
    </div>
    {% for menu_page in folioport_pages %}
        <div class="header-page-listing">
            <a {% if menu_page.id = page.id %}class='active-menu-item'{% endif %} href="{{ menu_page.get_absolute_url }}">{{ menu_page.title }}</a>
        </div>
    {% endfor %}
    {% if folioport_account.use_system_blog %}
        <div class="header-page-listing" class="listing-blog">
            {% if folioport_account.own_blog_link %}
                <a target="_blank" href='{{ folioport_account.own_blog_link }}'>Blog</a>
            {% else %}
                <a {% if blog_active %}class='active-menu-item'{% endif %} href='{% url 'folioport:blog:post-list' %}'>Blog</a>
            {% endif %}
        </div>
    {% endif %}
</div>

{% if folioport_account.use_social_media %}
<div class="header-block">
    {% for social_media in folioport_account.social_media.all %}
        <div class="social-media-button">
            {{ social_media.script_code|safe }}
            {{ social_media.html_code|safe }}
        </div>
    {% endfor %}
</div>
{% endif %}
<br /><br />
