{% load thumbnail %}
{% for project in folioport_projects %}

<div>
    <a href='{{ project.get_absolute_url }}{%if category_slug %}?cat={{ category_slug }}{% endif %}'>
        {% if project.thumbnail_type == 'GIF' %}
            <img class='project_picture'
                 width='{{ project.thumbnail.width }}'
                 src='{{ MEDIA_URL }}{{ project.thumbnail.name }}'
                 alt='' />
        {% else %}
            {% thumbnail project.thumbnail project.get_solr_thumbnail_geometry format=project.thumbnail_type as im %}
            <img class='project_picture' width='{{ im.width }}' height='{{ im.height }}' src='{{ im.url }}?' alt='' />
            {% endthumbnail %}

        {% endif %}
        <br />
        {{ project.name }}
    </a>
</div>

{% endfor %}