{% extends 'dashboard/layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}

{% block extrascripts %}
{{ block.super }}
<script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
{% endblock %}

{% block content %}

<h1>Add {{ field }}</h1>
<form method="POST" enctype="multipart/form-data" action="/add/{{ app }}/{{ field }}">
        <table>
        {% crispy form %}
        </table>
<p><input class='btn btn-primary' type="submit" value="Save" />  <a href="javascript:window.close()">Cancel</a></p>
</form>
{% endblock %}