{% extends 'widgets/base.html' %}
{% load filters %}
{% load staticfiles %}

{% block content %}

<div id='star' data-score="1"></div>

{% endblock %}

{% block onbodyload %}
$(document).ready(function() {

    $('#star').raty({
        score: {{object.get_rating}} / 2,
        half: true,
        starOn: '{% static 'folioport/img/star-on.png' %}',
        starOff: '{% static 'folioport/img/star-off.png' %}',
        starHalf: '{% static 'folioport/img/star-half.png' %}',
        click: function(score, evt) {
            submit_vote({{ object.id }}, score * 2);
        },
        cancel: false,
        hints: ['','','','','']
    });

    function submit_vote(id, value) {
        $.get("/{{ link }}/" + id + "/" + value + "/",
            function(response) {
                //alert(response);
                $.growl('rating', response);
            });
    }
});

{% endblock %}