{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

    <h1 class="page-header">
        {% block header %}{% trans 'EDIT' %}{% endblock %}
    </h1>
    {{ form.media }}

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class='active'>
            <a href="#content" role="tab" data-toggle="tab">Content</a>
        </li>
        <li id="preview-tab"><a href="#preview" role="tab" data-toggle="tab">
            Live preview</a>
        </li>
        <li id="settings-tab">
            <a href="#settings" role="tab" data-toggle="tab">Settings</a>
        </li>
    </ul>
    <br />
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="content">
            {% include 'dashboard/cms/includes/container_content.html' %}
        </div>
        <div class="tab-pane" id="preview">
            <div id="preview-content"></div>
        </div>
        <div class="tab-pane" id="settings">
            <form id="edit-form" enctype="multipart/form-data" action="" method="post">
                {% csrf_token %}
                {% crispy form %}
                <br />
            </form>
            <button class='btn btn-primary' id="submit-form">Save settings</button>
        </div>
    </div>
{% endblock %}

{% block onbodyload %}
    $('#preview-tab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $.get('{% url 'folioport:dashboard:cms:container-preview' object.container.id %}', {}, function(data) {
            if (data.status == 'success') {
                $('#preview-content').html(data.result);
            } else {
                alert('Unable to preview the content');
            }
        });
    });

    {% if active_tab %}
    $('#{{ active_tab }} a').tab('show');
    {% endif %}

    $('#submit-form').click(function() {
        var frm = $('#edit-form');
        frm.submit();
        return;
        $("div").remove('.field-error');
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $.growl('', 'Settings have been saved');
            },
            error: function(data) {
                var result = data.responseJSON;
                $.each(result, function(k, v) {
                    $('#id_' + k).after("<div class='field-error'>" + v + "</div>");
                });
            }
        });
    });
{% endblock %}