{% extends 'base.html' %}

{% block layout %}
<div class="container-fluid">
    <ul class="nav" id="side-menu">
        <li>
            <a href="{% url 'folioport:dashboard:home' %}">
                <i class="glyphicon glyphicon-bold"></i> Home
            </a>
        </li>
        <li>
            <a href="{% url 'folioport:dashboard:blog:post-list' %}">
                <i class="glyphicon glyphicon-bold"></i> Blog
            </a>
        </li>
    </ul>


    {% block content %}
    {% endblock %}
 </div>
{% endblock %}


{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block title %} Folioport admin {% endblock %}