{% extends 'base.html' %}
{% load staticfiles %}

{% block layout %}
<div class="container-fluid">
    <ul class="nav" id="side-menu">
        <li>
            <a href="{% url 'folioport:dashboard:home' %}">
                <i class="glyphicon glyphicon-bold"></i> Home
            </a>
        </li>
        <li>
            <a href="{% url 'folioport:dashboard:blog:post-list' %}">
                <i class="glyphicon glyphicon-bold"></i> Blog
            </a>
        </li>
        <li>
            <a href="{% url 'folioport:dashboard:project:list' %}">
                <i class="glyphicon glyphicon-bold"></i> Projects
            </a>
        </li>
        <li>
            <a href="{% url 'folioport:dashboard:page:list' %}">
                <i class="glyphicon glyphicon-bold"></i> Pages
            </a>
        </li>
        <!--
        <li>
            <a href="{% url 'folioport:dashboard:cms:container-list' %}">
                <i class="glyphicon glyphicon-bold"></i> __CMS
            </a>
        </li>
        -->
    </ul>

    {% for message in messages %}
        {{ message }}<br />
    {% endfor %}

    {% block content %}
    {% endblock %}
 </div>
{% endblock %}


{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block css %}
<link href="{% static 'folioport/css/datepicker.css'%}" rel="stylesheet" type="text/css" />
{{ block.super }}
{% endblock %}

{% block extrascripts %}
<script src="{% static 'folioport/js/lib/datepicker.js'%}" type="text/javascript"></script>
{{ block.super }}
{% endblock %}

{% block title %} Folioport admin {% endblock %}
