{% load endless %}
{% load cms_item %}

{% paginate object_list %}

{% for post in object_list %}
    <div class="list-blog-post">
        <div class="list-blog-post-title">
            <h2>
                <a href="{{ post.get_absolute_url }}"> {{ post.title }}</a>
            </h2>
         </div>
        <div class="list-blog-post-date">
            {{ post.release_date }}
        </div>
        <div class="list-blog-post-content">
            {% cms_container_render post.container %}
        </div>
    </div>
{% endfor %}

{% show_more 'Load more...' %}