{% extends "layout.html"  %}
{% load cms_item %}

{% block title %}
{% if page %}
    {{ page.title }}
{% else %}
    {{ folioport_account.site_name }}  {{ folioport_account.site_catchphrase }}
{% endif %}
{% endblock %}

{% block content %}
    <div class="page-heading"> &nbsp;</div>
    <div class="project-container-content">
    {% if page %}
        {% cms_container_render page.container %}
    {% else %}
        {% include 'partials/project_list.html' %}
    {% endif %}
    </div>
{% endblock %}