{% extends 'base.html' %}
{% block layout %}

<div id="wrapper">

    <!-- Sidebar -->

    <div id="sidebar-wrapper">
        {% include 'partials/header.html' %}
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" id="main_content">
                    <a href="#menu-toggle" class="btn btn-info btn-sm" id="menu-toggle">
                      <span class="glyphicon glyphicon-align-justify"></span>
                    </a>
                    {% block content %}
                        <h1>Hello, world!</h1>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

 </div>
 <!-- /#wrapper -->

<div class="clearfix clear"></div>
{% include 'partials/footer.html' %}
{% endblock %}
