body {
    margin:50px 0 20px 20px;
}

#ajax_loading {
    display: none;
    color: white;
    background-color: red;
    padding: 3px;
    position:absolute;
    top: 0;
    left: 0;
}

.image_picker_image {
    width:250px;
}

ul.thumbnails.image_picker_selector li .thumbnail a{
    color: black;
}

.clear {
    clear:both;
}

#main_header {
    width: 250px;
    float: left;
}

#main_content {
    float:left;
}