body {
	margin:40px 0 20px 30px;
}


* {
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: 0px;
 }

#ajax_loading {
	display: none;
	color: white;
	background-color: red;
	padding: 3px;
	position:absolute;
	top: 0;
	left: 0;
}

h1 {
	margin-top: 0px;
}

.table {
	max-width: 900px;
}

#main_content {
	margin-top: 0px;
}

.page-heading {
	font-weight: bold;
	width: 810px;
	text-align: left;
	font-size: 20px;
}

.image-container {
  margin-bottom: 0px;
}

#logo-image {
	margin-bottom: 5px;
}

.responsive_image {
	width: 90%;
}

.text-wrapper {
	max-width: 650px;
	width: 95%;
	text-align: justify;
}

/*

HEADER CLASSES

*/

#main_header {
	width: 250px;
	float: left;
}

#header_page_name {
	font-weight: bold;
}

#header_page_title {
	font-weight: bold;
}

.header-block {
	margin-bottom: 22px;
	width: 250px;
}

.header-category-name {
	font-weight:bold;
}
/* END HEADER CLASSES */

.active-menu-item {
	font-weight: bold;
}

.social-media-button {
	margin: 2px 0 2px 0;
}

/*
BLOG
*/

.list-blog-post {
	margin:40px 0 40px 0;
}

.list-blog-post-title {
   font-size: 14px;
   line-height: 1.4;
   font-weight: bold;
   margin: 2px 0px 0px;
   text-transform: none;
}

.list-blog-post-date {
	font-weight: bold;
	margin:0px 0 0px 0;
}

/*
END BLOG
*/

.project-container-content {
	margin-top: 38px;
}

ul.thumbnails.image_picker_selector li .thumbnail a{
	color: black;
}

.clear {
	clear:both;
}

.container-content-item {
   font-weight: regular;
   line-height: 1.25;
   margin: 2px 0 40px;
   letter-spacing: 0px;
   text-transform: none;
}

.blog-content {
	margin-top: 20px;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.sortable li.placeholder {
  position: relative;
}

ol.sortable li.placeholder:before {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: rgba(0, 0, 0, 0) -moz-use-text-color rgba(0, 0, 0, 0) #FF0000;
	border-image: none;
	border-style: solid none solid solid;
	border-width: 5px medium 5px 5px;
	content: "";
	height: 0;
	left: -5px;
	margin-top: -5px;
	position: absolute;
	top: -4px;
	width: 0;
}

.sortable-item {
	width:1000px; border:solid 1px #333; padding: 15px; margin:15px;
	cursor: move;
}

ol {
	list-style-type: none;
}

#hint_id_category {
	display: none;
}

#hint_id_image {
	display: none;
}

.optional-settings {
	margin-left:40px;
	border-left:1px #ddd dashed;
	padding-left:20px;
}

.form-group {
	margin: 0px 0 35px 0;
}

legend {
	background-color: #eee;
}


/*
SORTABLE CLASSES
*/
.sorted-table tbody tr {
  cursor: move;
}

.sorted-table tr.placeholder {
  display: block;
  background: red;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

  .sorted-table tr.placeholder:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-left-color: red;
	margin-top: -5px;
	left: -5px;
	border-right: none;
  }

/* END SORTABLE */

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 250px;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	/*background: #000;*/
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	padding: 0px 0 0 32px;
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}

#page-content-wrapper {
	width: 100%;
	padding: 0px;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu-toggle {
   position: relative;
   left:-32px;
   z-index: 1001;
}

@media(min-width:768px) {
	#wrapper {
		padding-left: 250px;
	}

	#wrapper.toggled {
		padding-left: 0;
	}

	#menu-toggle {
		display:none;
	}

	#sidebar-wrapper {
		width: 250px;
	}

	#wrapper.toggled #sidebar-wrapper {
		width: 0;
	}

	#page-content-wrapper {
		padding: 0px;
	}

	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0;
	}
}

*, a {
	color: #111;
}

img.image_picker_image {
	height: 110px;
}

#live-preview-frame {
	width: 90%;
	height: 800px;
	border: solid 1px #aaa;

}

.image-caption {
	margin-top: 9px;
	font-style: italic;
}



/* DASHBOARD

/*
 * Base structure
 */
/* TODO Sort this css (into file or so)*/
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
	position: fixed;
	top: 51px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
	padding-right: 40px;
	padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/* DASHBOARD */