{% extends "base.html"  %}
{% load thumbnail %}
{% load i18n %}
{% block content %}

<div>

	<h1>{{ project.name }}</h1>

    {% include 'widgets/rating.html' with object=project link='projects/rate' %}

    Summary: {{ project.summary }} <br />
	Description: {{ project.description }}
	<br />

    Tags:
		{% for tag in project.get_tags %}
			{{ tag.name }}
		{% endfor %}
	
	<br />
	</div>
	
	<div>
		{%for image in project.get_images %}
			{% thumbnail image image.get_solr_thumbnail_geometry as im %}
				<div>
                    <!--#todo escape ALT-->
				    <img width='{{ im.width }}' height='{{ im.height }}' src='{{ im.url }}' alt='{{ im.url }}' />
				    <br />
				    {{ image.caption }}
				</div>
			{% endthumbnail %}
		{%endfor %}
	</div>


	Links <Br />
    {% if next_project %}
        <a href="{{ next_project.get_absolute_url  }}{%if category_slug %}?cat={{ category_slug }}{%endif%}">
            next<
        </a><br />
    {% endif %}
    {% if previous_project %}
        <a href="{{ previous_project.get_absolute_url  }}{%if category_slug %}?cat={{ category_slug }}{%endif%}">
            previous
        </a><br />
    {% endif %}

	<div class='clear'></div>

    {% include 'widgets/related_projects.html' with project=project %}
	
{% endblock %}