{% extends 'dashboard/layout.html' %}
{% load staticfiles %}

{% block extrascripts %}

    {{ block.super }}
    <script src="{% static 'folioport/js/lib/fileuploader.js' %}" ></script>
    <script src="{% static 'folioport/js/lib/image-picker.js' %}" ></script>

{% endblock %}

{% block css %}

    <link href="{% static 'folioport/css/fileuploader.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% static 'folioport/css/image-picker.css' %}" media="screen" rel="stylesheet" type="text/css" />
    {{ block.super }}
{% endblock %}

{% block content %}
<h3>Please select images you'd like to use</h3>

<form action='' method="POST">
    {{ form }}
    {% csrf_token %}
    <br />
    <input type='submit' value="Save" />
</form>


<a href="{% url 'folioport:dashboard:cms:item-create-redirect' %}?class_name=Image&amp;next={{ request.get_full_path }}">Add image</a>

<!--
<div id="file-uploader">
    <noscript>
        <p>Please enable JavaScript to use file uploader.</p>
    </noscript>
</div>
-->

{% endblock %}

{% block onbodyload %}
    $("#id_image option").each(function() {
        var next_url = "?next={{ request.get_full_path}}";
        $(this).attr("data-img-src", '/static/' + $(this).text());
        var edit_url = "{% url 'folioport:dashboard:cms:item-edit' 'Image' '99999999999' %}";
        var correct_edit_url = edit_url.replace(/99999999999/, $(this).attr('value')) + next_url;

        var delete_url = "{% url 'folioport:dashboard:cms:item-delete' 'Image' '99999999999' %}";
        var correct_delete_url = delete_url.replace(/99999999999/, $(this).attr('value')) + next_url;
        $(this).attr("data-img-label", '<a href="' + correct_edit_url +'">edit</a> &nbsp; <a href="' + correct_delete_url +'">delete</a>' );

    });


    $("#id_image").imagepicker({show_label: true});


    var uploader = new qq.FileUploader({
        action: "{% url 'folioport:my_ajax_upload' %}",
        element: $('#file-uploader')[0],
        multiple: true,
        onComplete: function(id, fileName, responseJSON) {
            if(responseJSON.success) {
                alert("success!");
            } else {
                alert("upload failed!");
            }
        },
        onAllComplete: function(uploads) {
            // uploads is an array of maps
            // the maps look like this: {file: FileObject, response: JSONServerResponse}
            alert("All complete!");
        },
        params: {
            'csrf_token': '{{ csrf_token }}',
            'csrf_name': 'csrfmiddlewaretoken',
            'csrf_xname': 'X-CSRFToken'
        }
    });
{% endblock %}