{% extends 'dashboard/layout.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block css %}
    <link href="{% static 'folioport/css/image-picker.css' %}" media="screen" rel="stylesheet" type="text/css" />
    {{ block.super }}
{% endblock %}

{% block content %}
<h3>Please select images you'd like to use</h3>
<form action='' method="POST">
    {% crispy form %}
    <br /><br /><br />
    <input class="btn btn-primary" type='submit' value="Save" /> <a href="{{ next_url }}">Cancel</a>
</form>

{% endblock %}


{% block extrascripts %}
{{ block.super }}
<script src="{% static 'folioport/js/lib/image-picker.js' %}" ></script>
{{ form.media }}
<script type='text/javascript'>
// TODO refactor following
function nicerSelectImage() {
    $("#id_image option").each(function() {
        var next_url = "?next={{ request.get_full_path}}";
        $(this).attr("data-img-src", '/media/' + $(this).text());
        var edit_url = "{% url 'folioport:dashboard:cms:item-edit' 'Image' '99999999999' %}";
        var correct_edit_url = edit_url.replace(/99999999999/, $(this).attr('value')) + next_url;

        var delete_url = "{% url 'folioport:dashboard:cms:item-delete' 'Image' '99999999999' %}";
        var correct_delete_url = delete_url.replace(/99999999999/, $(this).attr('value')) + next_url;
        $(this).attr("data-img-label", '<div class="pull-right"><a href="' + correct_edit_url +'"><span title="edit" class="glyphicon glyphicon-edit"></span></a> &nbsp; <a href="' + correct_delete_url +'"><span title="delete" class="glyphicon glyphicon-trash"></span></a></div><br />' );

    });

    $("#id_image").imagepicker({show_label: true});
}
</script>
{% endblock %}

{% block onbodyload %}

    nicerSelectImage();

{% endblock %}