{% load cms_item %}

<div style="background-color: #eee; padding:5px">
    {{ item.class_name }}<br />
    <a href='#' class="show_content" data-item-id="item-edit-{{ item.container_item.pk }}">Show content [+]</a>
    <div class="pull-right">
        <span title="move" class="glyphicon glyphicon-move"></span></a>
        <a href="{% url 'folioport:dashboard:cms:item-edit' item.class_name item.pk %}?next={{ request.get_full_path }}">
            <span title="edit" class="glyphicon glyphicon-edit"></span></a>
        <a href="{% url 'folioport:dashboard:cms:item-delete' item.class_name item.pk %}?next={{ request.get_full_path }}">
            <span title='delete' class="glyphicon glyphicon-trash"></span></a>
    </div>
</div>
<div id="item-edit-{{ item.container_item.pk }}" style="display: none">
{% cms_item_render item %}
</div>
