{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block content %}

<h1 class="page-header">PROJECTS!</h1>
<a href='{% url "folioport:dashboard:project:create" %}'
   class='btn btn-primary btn-lg pull-right'>+ Add new project</a>

<h2>List of your current projects</h2>

    {% if object_list %}
    <div class='responsive-table'>
        <table class="table table-hover sorted_table" style="width:600px;">
            <thead>
                <tr>
                    <th>{% trans 'project title' %}</th>
                    <th class='text-center'>{% trans 'Active' %}</th>
                    <th class='text-center'>{% trans 'Actions' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for project in object_list %}
            <tr data-id='{{ project.pk }}' data-object="project">
                <td>{{ project.title }}</td>
                <td class='text-center'>
                    {% if project.active %}
                    <i class="glyphicon glyphicon-ok" style="color:green"></i>
                    {% else %}
                    <i class="glyphicon glyphicon-remove" style="color:red"></i>
                    {% endif %}
                </td>
                <td class='text-center'>
                    <a href='{% url "folioport:dashboard:project:edit" project.id %}'
                       class='btn btn-outline btn-primary btn-xs'>
                        <i class="glyphicon glyphicon-edit"></i> {% trans 'edit' %}
                    </a>
                    <a href='{% url "folioport:dashboard:project:delete" project.id %}'
                       class='btn btn-outline btn-danger btn-xs'>
                        <i class="glyphicon glyphicon-remove"></i> delete
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    {% trans 'No projects yet!' %}
    {% endif %}

{% endblock %}