{% extends "layout.html"  %}
{% load thumbnail %}
{% load i18n %}
{% load cms_item %}

{% block title %} {{ object.title }} {% endblock %}

{% block content %}
<div class="page-heading">
    {% block prev_next %}
    {% if previous_post %}
        <a href="{{ previous_post.get_absolute_url }}">
            Older
        </a>
    {% endif %}

    {% if previous_post and next_post %}
        /
    {% endif %}

    {% if next_post %}
        <a href="{{ next_post.get_absolute_url  }}">
            Newer
        </a>
    {% endif %}
    {% endblock %}
</div>

<div class="project-container-content">

    <div class="list-blog-post-date">
        {{ post.release_date|date:folioport_date_format }}
    </div>

    <h2 class="list-blog-post-title">
        <a href="{{ post.get_absolute_url }}"> {{ post.title }}</a>
    </h2>


    {% cms_container_render object.container %}

</div>
{% endblock %}

