{% extends "layout.html"  %}
{% load thumbnail %}
{% load i18n %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
<div class='row-fluid'>
    <div class='span9'><h1>{{ post.title }}</h1></div>
    <div class='span2 offset1'>
        {% include 'widgets/social_add_this/widget.html' %}
    </div>
</div>

{% if post.get_tags %}
<div class='row-fluid'>
    <span class='span3'>
        Tags:
        {% for tag in post.get_tags %}
            {{ tag.name }}
        {% endfor %}
    </span>
</div>
{% endif %}

<div class='row-fluid'>
    {{ post.release_date }}<br />
    {{ post.content|safe }}
</div>

{% endblock %}

