{% extends "layout.html"  %}
{% load thumbnail %}
{% load i18n %}
{% load cms_item %}

{% block title %} {{ project.title }} {% endblock %}

{% block content %}

<h1>{{ project.title }}</h1>

<div class='row-fluid'>
    <span class="span2 offset7">
        {% block prev_next %}
        {% if previous_project %}
            <a href="{{ previous_project.get_absolute_url  }}{%if category.slug %}?cat={{ category.slug }}{%endif%}">
                &laquo; previous
            </a>
        {% endif %}
         {% if next_project %}
            <a href="{{ next_project.get_absolute_url  }}{%if category.slug %}?cat={{ category.slug }}{%endif%}">
                next &raquo;
            </a>
        {% endif %}
        {% endblock %}
    </span>
</div>

<div class='row-fluid'>
    {% cms_container_render object.container %}
</div>

{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    {% include 'widgets/social_add_this/widget.js.html' %}
{% endblock %}