{% extends "layout.html"  %}
{% load thumbnail %}
{% load i18n %}

{% block title %} {{ project.name }} {% endblock %}

{% block content %}

<style>
    .span1,
    .span2,
    .span3,
    .span4,
    .span5,
    .span6,
    .span7,
    .span8,
    .span9,
    .span10,
    .span11,
    .span12 {
        border: solid 0px black;
    }


</style>

<div class='row-fluid'>
    <div class='span9'><h1>{{ project.name }}</h1></div>
    <div class='span2 offset1'><br />{% include 'widgets/rating/widget.html' %}</div>
</div>

<div class='row-fluid'>
    <span class='span3'>
        Tags:
        {% for tag in project.get_tags %}
            {{ tag.name }}
        {% endfor %}
    </span>

    <span class="span2 offset7">
        {% block prev_next %}
        {% if previous_project %}
            <a href="{{ previous_project.get_absolute_url  }}{%if category.slug %}?cat={{ category.slug }}{%endif%}">
                &laquo; previous
            </a>
        {% endif %}
         {% if next_project %}
            <a href="{{ next_project.get_absolute_url  }}{%if category.slug %}?cat={{ category.slug }}{%endif%}">
                next &raquo;
            </a>
        {% endif %}
        {% endblock %}
    </span>
</div>

{% block embeds %}
<div class='row-fluid'>
    {% for embed in project.get_embeds %}
    <div>
        {{ embed.embed_code|safe }}
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block images %}
<div class='row-fluid'>
    <span class='span12'>
    {%for image in project.get_images %}
    {% thumbnail image image.get_solr_thumbnail_geometry as im %}
    <div style="float:left">
        <!--#todo escape ALT-->
        {% if next_project %}
        <a href="{{ next_project.get_absolute_url  }}{%if category.slug %}?cat={{ category.slug }}{%endif%}">
            {% endif%}
            <img width='{{ im.width }}' height='{{ im.height }}' src='{{ im.url }}' alt='{{ im.url }}' />
            {% if next_project %}
        </a>
        {% endif%}
        <br />
        {{ image.caption }}
    </div>
    {% endthumbnail %}
    {%endfor %}
    </span>
</div>
{% endblock %}

<div class='row-fluid'>
    <div class='span6'><strong>Summary:</strong> {{ project.summary }}</div>
	<div class='span6'><strong>Description:</strong> {{ project.description }}</div>
</div>

<div class='row-fluid'>
    <div class='span2 offset10'>
        Related projects:
        {% include 'widgets/related_projects/widget.html' with project=project %}
    </div>
</div>

{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    {% include 'widgets/rating/widget.js.html'  with object=project link='projects/rate' %}
    {% include 'widgets/social_add_this/widget.js.html' %}
{% endblock %}