{% extends "layout.html"  %}
{% load thumbnail %}
{% load i18n %}
{% load cms_item %}

{% block title %} {{ project.title }} {% endblock %}

{% block content %}

<div class="page-heading">
    {% block prev_next %}
    {% if previous_project %}
        <a href="{{ previous_project.get_absolute_url  }}{%if category.slug %}?cat={{ category.slug }}{%endif%}">
            Previous
        </a>
    {% endif %}

    {% if previous_project and next_project %}
        /
    {% endif %}

    {% if next_project %}
        <a href="{{ next_project.get_absolute_url  }}{%if category.slug %}?cat={{ category.slug }}{%endif%}">
            Next
        </a>
    {% endif %}
    {% endblock %}
</div>

<div class="project-container-content">
    {% cms_container_render object.container %}
</div>

{% endblock %}
