<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'partials/head.html' %}
</head>
<body>

{% include 'partials/menu.html' %}

<div class="container">
    {% block content %}
    <h1>Hello, world!</h1>
    {% endblock %}
</div>

{% include 'partials/footer.html' %}

{% block extrascripts %}{% endblock %}

<script type="text/javascript">
    $(function() {
        {% block onbodyload %}{% endblock %}
    });
</script>

</body>
</html>