{% extends "base.html"  %}
{% load thumbnail %}
{% block content %}

<div id="container">

	{% for project in projects %}
		
		{% thumbnail project.thumbnail project.get_solr_thumbnail_geometry as im %}
			<div class="mansory_box" style='width:{{ im.width }}px; height:{{ im.height}}px;'>
				<a href='{{ project.get_absolute_url }}{%if category_slug %}?cat={{ category_slug }}{% endif %}'>
					<img width='{{ im.width }}' height='{{ im.height }}' src='{{ im.url }}?' alt='{{ project.name }}' />
				</a>
                <div class='project-caption'>
                    {{ project.name }}<br />
                    {% for category in project.category.all %}
                        {{ category.name }},
                    {% endfor %}
                </div>
			</div>
		{% endthumbnail %}
			
	
	{% endfor %}
</div>

<script type='text/javascript'>
	var $container = $('#container');
	$container.imagesLoaded(function(){
	  $container.masonry({
		  singleMode: false,
		  columnWidth: 20,
		  itemSelector: '.mansory_box',
		  resizeable: true,
		  saveOptions: true
	  });
	});
</script>

{% endblock %}