<form id='addContentTypeForm' action='{% url 'folioport:dashboard:cms:item-create-redirect' %}'>
    <select name='class_name'>
        {% for content_type in folioport_content_types %}
        <option value='{{ content_type.0 }}'>{{ content_type.1 }}</option>
        {% endfor %}
    </select>
    <input type='hidden' name='container_id' value='{{ object.container.id }}' />

    <input type='hidden' name='next' value='{{ request.get_full_path }}' />
    <input id="addCmsItem" type='submit' class="btn btn-small btn-info" value='Add new item' />
</form>
