<div style='text-align: center'>
    {% include 'dashboard/cms/includes/add_content_type.html' %}
</div>

<ol class='sortable'>
{% for item in object.container.get_item_objects %}
    <li data-id='{{ item.container_item.pk }}' class='sortable-item'>
    {{ item.render }}
    <a href="{% url 'folioport:dashboard:cms:item-edit' item.class_name item.pk %}?next={{ request.get_full_path }}">edit</a>
    <a href="{% url 'folioport:dashboard:cms:item-delete' item.class_name item.pk %}?next={{ request.get_full_path }}">delete</a>
    </li>
{% endfor %}
</ol>