{% load cms_item %}

<div style='text-align: center'>
    {% include 'dashboard/cms/includes/add_content_type.html' %}
    <br />
    <a id="show-hide-all-content" href="#">Show / hide all content</a>
</div>
<strong class="pull-right">Drag items to reorder</strong>
<ol class='sortable'>
{% for item in object.container.get_item_objects %}
    <li data-id='{{ item.container_item.pk }}' class='sortable-item'>
    {% include 'cms/content_items/admin/render_edit.html' with item=item %}
    </li>
{% endfor %}
</ol>