{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block content %}

    <h1 class="page-header">{% trans 'EDIT THE POST' %}</h1>
    {{ form.media }}
    <form enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        {{ form }}
        <br />
        <input class='btn btn-primary' type="submit" value="{% trans 'Update post' %}" />
        &nbsp; <a href="{% url 'folioport:dashboard:blog:post-list' %}">{% trans 'Cancel' %}</a>
    </form>

    {% for item in object.container.get_items %}
       {{ item.render }}
       <a href="{% url 'folioport:dashboard:cms:item-edit' item.class_name item.pk  %}">edit</a>
    {% endfor %}


    <form action='{% url 'folioport:dashboard:cms:item-create-redirect' %}'>
    <select name='class_name'>
        <option value='ItemImage'>Image</option>
        <option value='ItemText'>Text</option>
        <option value='ItemRandomImage'>Random image</option>
    </select>
    <input type='hidden' name='container_id' value='{{ object.container.id }}' />
    <input type='submit' value='Add new item' />
    </form>

{% endblock %}