{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block content %}

<h1 class="page-header">BLOG!</h1>
<a href='{% url "folioport:dashboard:blog:post-create" %}'
   class='btn btn-primary btn-lg pull-right'>+ Add new post</a>

<h2>List of your current blog posts</h2>


    {% if object_list %}
    <div class='responsive-table'>
        <table class="table table-hover" style="width:600px;">
            <thead>
            <tr>
                <th>{% trans 'Post title' %}</th>
                <th>Date</th>
                <th class='text-center'>{% trans 'Active' %}</th>
                <th class='text-center'>{% trans 'Actions' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for post in object_list %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.release_date }}</td>
                <td class='text-center'>
                    {% if post.active %}
                    <i class="glyphicon glyphicon-ok" style="color:green"></i>
                    {% else %}
                    <i class="glyphicon glyphicon-remove" style="color:red"></i>
                    {% endif %}
                </td>
                <td class='text-center'>
                    <a href='{% url "folioport:dashboard:blog:post-edit" post.id %}'
                       class='btn btn-outline btn-primary btn-xs'>
                       <i class="glyphicon glyphicon-edit"></i> {% trans 'edit' %} </i>
                    </a>
                    <a href='{% url "folioport:dashboard:blog:post-delete" post.id %}'
                       class='btn btn-outline btn-danger btn-xs'>
                       <i class="glyphicon glyphicon-trash"></i> delete </i>
                    </a>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    {% else %}
    {% trans 'No posts yet!' %}
    {% endif %}


{% endblock %}