{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
{% endblock %}

{% block title %} Folioport admin {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">BLOG!</h1>
            <a href='{% url "folioport:dashboard:blog:post-create" %}'
               class='btn btn-primary btn-lg pull-right'>+ Add new post</a>
        </div>

    </div>

    <div class='row'>
        {% if object_list %}
            {% for post in object_list %}
                {{ post.title }}
                <a href='{% url "folioport:dashboard:blog:post-edit" post.id %}'
                   class='btn btn-outline btn-primary btn-xs'>
                    {% trans 'edit' %}
                </a>
                <a href='{% url "folioport:dashboard:blog:post-delete" post.id %}' class='btn btn-outline btn-danger btn-xs'>delete <i class="fa fa-times"></i></a>
                <br/>
            {% endfor %}
        {% else %}
            {% trans 'No posts yet!' %}
        {% endif %}
    </div>

{% endblock %}


