{% load staticfiles %}

<hr />

<footer>&copy; {% now "Y" %}</footer>

<script src="{% static 'folioport/js/lib/jquery-1.10.1.min.js'%}" type="text/javascript"></script>

<script src="{% static 'folioport/js/lib/jquery-raty-2.5.2.min.js'%}" type="text/javascript"></script>

<script src="{% static 'folioport/js/lib/setup.js'%}" type="text/javascript"></script>

<script src="{% static 'folioport/js/lib/growl.js'%}" type="text/javascript"></script>

<script src="{% static 'folioport/js/lib/bootstrap/js/bootstrap.min.js'%}" type="text/javascript"></script>

